{% extends 'index.html' %}

{% block content %}
    <link rel=stylesheet type=text/css href="{{url_for('static', filename='css/home.css')}}">

    <main class="l-main">
        <div class="l-content">
            <h1 class="content__title">Musicate</h1>
            <h2 class="content__subtitle">Comece agora mesmo a sua jornada musical!</h2>
            <a class="content__button" href="/registrar/">
                <h1 class="button__title">Começar</h1>
            </a>
        </div>
        <div class="l-image">
            <img class="image__svg" src="../static/svg/compose-music-pana.svg">
        </div>
    </main>

    <script src="../static/js/home.js" defer></script>
{% endblock %}