{% extends 'index.html' %}

{% block content %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/sheet2.css')}}">

    <main class="l-main">
        <div class="l-container">

            <a href="/partituras-com-clave-de-sol/" class="container__button">
                <i id="back" class="fa-solid fa-arrow-left container__icon"></i>
            </a>

            <section class="title__data">
                <h1 class="title__text">A Clave de Sol</h1>
                <hr class="title__line">
            </section>
            <section class="text__section">
                <p class="text__paragraph">
                    Para responder essa pergunta existem as claves. De acordo com elas 
                    a localização das notas será diferente.
                    A clave que mais abrange número de instrumentos é a Clave de Sol.
                    Essa clave recebe esse nome porque informa que a nota que estiver sobre a 
                    segunda linha se chamará Sol.
                </p>
            </section>
            <img class="container__image" src="{{url_for('static', filename='img/sheet2.png')}}">
            <section class="text__section">
                <p class="text__paragraph">
                    Agora que sabemos onde está o Sol, podemos escrever as outras notas seguindo a lógica: quanto mais para cima, mais agudo e quanto mais para baixo, mais grave!
                </p>
            </section>
        </div>

        <script src="../static/js/sheet.js" defer></script>
    </main>
{% endblock %}